.group{
    background: none;
    width: -180px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: 150px 100px;
    border-radius: 15px;
}
input,select{
    background: none;
    font-weight: bolder;
    border:2px solid #383838;
    color: blue;
    outline: blue; 
}
input{
    padding-left: 10px;
    border-radius: 15px 0px 0px 15px;
    text-align: justify;
}
select{
    padding: 15px;
    border-radius: 0px 15px 15px  0px ;
}