body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to bottom right, orange,white,green);
    background-attachment: fixed;
    color: blue;
    
    
  }
  
  h2,h7{
    color: blue;
    font-weight: bolder;
  }
  
  .content{
    left: 1px;
    padding: 50px;
    font-size: smaller;
  }
  